div.announcements{
  tr{
    &.current{
      background: #d5ffd5;
    }
    &.expired{
      background: #fdb7b5;
    }
  }  
}

#block-menu-menu-room-reservations{
  li.leaf{ 
    a{
      background: gray;
      color: white;
      display: block;
      @include transition-duration('.420s');
      &:before{
        content: "add ";
        color: blue;
        font-size: .7em;
      }
      &:hover,
      &:focus{
        background: #3fa4c0;
        color: yellow;
      }
    }
  }
}
/*Color a single On/Off input checked field*/
.views-exposed-widget.views-widget-checkboxes{
  padding:0px;
  
  .form-item.form-type-checkbox{
    display: block;
    margin: 5px;
    
    label{
      
      display: inline-block;
      width: 130px;
      
      white-space: nowrap;
      input{
        color: red;
        margin: 0px;        
        &:after{
          display: block;
          font-size: 12px;
          margin-left: 20px;
          content: "un-published";            
        }
      }    
      input:checked{
        background: blue;
        color: green;                    
        margin: 0px;
        &:after{
          content: "published";            
        }
      }
      input:checked+label{
        background: green;
      }
    }
  }
}
